html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'PT Sans', 'Noto Sans', 'Open Sans', 'Segoe UI', Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
    font-size: 17px;
    background-color: #222;
    color: white;
}

header, section, nav, #footer-inner {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 20px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
}

header .header-left {
    flex-grow: 1;
}

header h1 {
    font-size: 3.5em;
    border: none;
    margin-bottom: 0;
}

header #subtitle {
    margin: 1em 0;
    font-size: 1.2em;
    font-style: italic;
}

nav {
    padding-bottom: 0;
    box-shadow: inset 0 -1px 0 #ffffff27;
    white-space: nowrap;
    overflow: auto hidden;
}

nav button {
    display: inline-block;
    margin: 0 0.3em 0 0;
    padding: 0.6em 0.8em;
    color: white;
    background-color: #12448f;
    border: 1px solid #2a68c5;
    border-radius: 8px 8px 0 0;
    text-decoration: none;
    font-size: 115%;
    font-family: inherit;
    transition: background-color .2s;
}
nav button:last-child {
    margin-right: 20px;
}
nav button.open {
    background-color: #222;
    border: 1px solid #ffffff27;
    border-bottom: 1px solid #222;
    color: #ccc;
}
nav button:not(.open):hover {
    background-color: #2a68c5;
}

footer {
    background-color: #1c1c1c;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
    font-size: 110%;
    color: #bbb;
    position: sticky;
    top: 100vh;
    margin-top: 4em;
}

footer a {
    text-decoration: none;
}

footer a.btn {
    margin-left: 0.6em;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}

ul.table-of-contents {
    list-style-type: square;
    padding-left: 1em;
}

.table-of-contents ul {
    list-style-type: disc;
    padding-left: 1.5em;
    margin-top: 0.15em;
}

.table-of-contents li {
    margin-bottom: 0.15em;
}

.table-of-contents a {
    text-decoration: none;
}
.table-of-contents a:hover,
.table-of-contents a:focus {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.button, .button:link, .button:visited {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 0.6em 1em;
    color: white;
    background-color: #12448f;
    border: 1px solid #2a68c5;
    border-radius: 4px;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    transition: background-color .2s;
}


.button:hover {
    background-color: #2a68c5;
}

pre {
    max-height: 95vh;
    font-family: 'JetBrains Mono', monospace;
    overflow: auto;
    font-variant-ligatures: none;
}

.wrap-table {
    margin: 1em 0;
    overflow: auto;
}

.wrap-table > table {
    width: 100%;
    min-width: 600px;
}

.basics table td pre:not(.toget) {
    margin: 0;
    padding: 5px 0;
    background-color: transparent;
    font-size: 18px;
}

.basics table td pre.toget {
    font-size: 16px;
}

@media (max-width: 700px) {
    html, body {
        font-size: 15px;
    }

    .basics .wrap-table > table {
        min-width: 490px;
    }
    .basics table,
    .basics table p,
    .basics table ul,
    .basics table ol {
        font-size: 17px;
    }
    .basics table td pre:not(.toget) {
        font-size: 15px;
    }
    .basics table td pre.toget {
        font-size: 14px;
    }
}

.playground {
    position: relative;
    display: flex;
    align-items: stretch;
    max-height: 90vh;
    background-color: #171717;
    border: 1px solid #555;
    border-radius: 5px;
    margin: 1em 0;
    tab-size: 4;
    -moz-tab-size: 4;
}

.playground:not(.initialized) {
    font: 17px 'JetBrains Mono', monospace;
}

#big-playground {
    position: fixed;
    left: 0;
    top: 30px;
    right: 0;
    bottom: 0;
    border: none;
    margin: 0;
    max-height: none;
}

#close-big-playground {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: white;
    font-size: inherit;
    font-family: inherit;
    border-bottom: 1px solid #555;
    box-sizing: border-box;
    line-height: 29px;
    transition: background-color .2s;
}

#close-big-playground:hover {
    background-color: #222;
}

.input {
    width: 200px;
    min-height: 70px;
    flex-grow: 1;
    display: block;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    background-color: transparent;
    color: white;
    font-weight: 350;
    border: none;
    margin: 0;
    box-shadow: inset -1px 0 0 0 #555;
    text-shadow: 0 0 5px #0003;
    letter-spacing: 0.008em;
    scrollbar-color: #555 transparent;
}

.input::-webkit-scrollbar,
.preview::-webkit-scrollbar {
    background-color: transparent;
}
.input::-webkit-scrollbar-thumb,
.preview::-webkit-scrollbar-thumb {
    background-color: #555;
}
.input:hover::-webkit-scrollbar-thumb,
.preview:hover::-webkit-scrollbar-thumb,
.input:focus::-webkit-scrollbar-thumb,
.preview:focus::-webkit-scrollbar-thumb {
    background-color: #498dcc;
}

.input:hover, .input:focus {
    outline: none;
}

.preview {
    width: 200px;
    flex-grow: 1;
    overflow: auto;
    box-sizing: border-box;
    padding: 0 20px;
    min-height: 20px;
    font-size: 17px;
    scrollbar-color: #555 transparent;
}

.preview.html {
    white-space: pre-wrap;
    font: 17px 'JetBrains Mono', monospace;
    font-variant-ligatures: none;
    padding: 20px;
}

.preview:hover, .preview:focus,
.input:hover, .input:focus {
    scrollbar-color: #498dcc transparent;
}

.show-html {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #222;
    color: white;
    border: 1px solid #444;
    font-size: 14px;
    font-family: inherit;
    padding: 2px 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity .2s;
}

.preview:hover + .show-html {
    opacity: 0.7;
    transition: opacity .6s;
}
.show-html:hover {
    opacity: 1;
    transition: opacity .2s;
}

.media-small {
    display: none;
}

.differences {
    margin: 1em 0;
    padding: 1em;
    background-color: #0b326b;
    border: 1px solid #1a4c96;
    border-radius: 4px;
}

@media (max-width: 650px) {
    .differences {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
}

.differences > :first-child {
    margin-top: 0;
}
.differences > :last-child {
    margin-bottom: 0;
}

.mini-title {
    font-weight: bold;
    font-size: 115%;
    margin-bottom: 0.7em;
}

#tutorial > h3,
#macros > h3 {
    margin-top: 1.75em;
}

a:link, a:visited {
    color: rgb(93, 158, 255);
    text-underline-offset: 5px;
}
.differences a {
    color: white;
}

blockquote {
    padding: 0 25px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}

blockquote::before {
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    background-color: #fff5;
    left: 3px;
    height: 100%;
    border-radius: 2px;
}

table {
    border-collapse: collapse;
    margin: 1em 0;
}

table td, table th {
    border: 1px solid #fff3;
    padding: 5px 12px;
}

table tr:nth-child(2n) {
    background-color: #ffffff07;
}

table th {
    background-color: #ffffff1c;
    font-size: 105%;
}
table th:not[align] {
    text-align: center;
}

kbd {
    border: 1px solid #fff3;
    border-radius: 5px;
    box-shadow: 0 2px 2px #fff2;
    font-size: 88%;
    padding: 2px 6px;
}

code {
    border: 1px solid #fff2;
    border-radius: 3px;
    font-size: 88%;
    padding: 1px 4px;
    background-color: #ffffff0a;
    font-family: 'JetBrains Mono', monospace;
    font-variant-ligatures: none;
    font-weight: 350;
}

pre {
    background-color: #0004;
    padding: 10px 15px;
    border-radius: 5px;
}

pre code {
    background: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
}

.green {
    border-left: 5px solid green;
}

.status {
    padding: 1px 11px;
    border-radius: 50px;
    border: 2px solid #28ff7a94;
    font-size: calc(8px + 31%);
    color: #28ff7a;
    font-weight: normal;
    vertical-align: middle;
}

#preview p,
#preview li {
    line-height: 1.4em;
}

a.footnote {
    text-underline-offset: 3px;
}
.footnotes-section {
    font-size: 1.05em;
    margin-bottom: 1em;
}
.footnotes-line {
    margin-bottom: 0.8em;
    border-top: none;
    width: 80%;
}
.footnote-def {
    margin: 0.25em 0;
}

h1 {
    font-size: 2.3em;
    border-bottom: 1px solid #fff4;
    padding: 0 0 5px 0;
}
h2 {
    font-size: 1.9em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.7em 0;
}

.anchor {
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 1.95em;
    vertical-align: top;
    font-size: 67%;
    font-weight: normal;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
    text-decoration: none;
}

.anchor::before {
    content: '🔗';
    box-sizing: border-box;
    width: 1.5em;
    margin-left: -1.5em;
    display: inline-block;
    filter: brightness(2);
    opacity: 0.45;
    padding-right: 6px;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
    opacity: 1;
    pointer-events: initial;
    text-decoration: none;
}

hr {
    border: 1px solid #fff5;
    margin: 1.5em 0;
}

p, ul, ol, table {
    font-size: 20px;
}

h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-weight: bold;
}

@media (pointer: coarse) {
    .anchor {
        opacity: 1;
        pointer-events: initial;
        line-height: 2.5em;
        font-size: 55%;
    }
}

@media (max-width: 650px) {
    .media-big {
        display: none;
    }
    .media-small {
        display: initial;
    }

    .playground {
        flex-direction: column;
    }

    .input {
        font-size: 15px;
        box-shadow: inset 0 -1px 0 0 #555;
        width: auto;
    }
    .preview, .preview.html {
        width: auto;
        font-size: 15px;
    }

    .show-html {
        display: none;
    }

    p, ul, ol, table {
        font-size: 18px;
    }
}

.input > .cm-editor {
    height: 100%;
}

.ͼ2.cm-focused .cm-selectionBackground {
    background-color: #1a4594;
}
.ͼ2 .cm-selectionBackground {
    background-color: #424242;
}

.ͼ1 .cm-scroller {
    font: 17px 'JetBrains Mono', monospace;
    font-variant-ligatures: none;
    line-height: 1.5;
}

.ͼ2 .cm-content {
    padding: 12px 0;
}

.ͼ1 .cm-line {
    padding: 0 10px 0 15px;
}

.ͼ1 .cm-cursor {
    border-left-color: white;
}

.ͼ2 .cm-activeLine {
    background-color: transparent;
}
.ͼ2.cm-focused .cm-activeLine {
    background-color: #ffffff07;
}

.ͼ1 .cm-selectionMatch {
    background-color: #63636359;
}
